* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #logo {
        display: none;
    }

}

@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 25%;
        display: block;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #5b1616;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}